#header{
    
background-color: #FF8000;
color: white;
width: 900px;    
text-indent: 15px;
height: 6px;    
padding:  20px;    
position: fixed;
top: 10%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)

    
    
}
    
#h1{
    
border-bottom: 1pxsolid#999;    
 position: ;
bottom: 45;   
left: 26%;
position: absolut;

left: %;
margin-right: -;
transform: translate(-50%, -50%)


   
    
    
    
}

{
    
    
}

}

    
}

    
    
}    
    
    
    
    
    
    
    
